#tinypng_api_key_container {
  display: inline-block;
  padding: 30px;
  border: solid #E1E1E1 1px;
  background-color: white;
}

#tinypng_api_key_container h4 {
  margin-top: 0;
  margin-bottom: 5px;
  font-size: 16px;
}

.tinypng-api-key-information {
  display: block;
  width: 300px;
  margin-bottom: 10px !important;
}

.tinypng-api-key-message {
  width: 271px;
  position: relative;
  padding-left: 30px !important;
}

.tinypng-api-key-message.save-error {
  color: #D54E21;
}

.tinypng-api-key-message.error {
  color: #D54E21;
}

.tinypng-api-key-message.invalid-key {
  color: #F0AD4E;
}

.tinypng-api-key-message.already-registered {
  color: #F0AD4E;
}

.tinypng-api-key-message.success {
  color: #5CB85C;
}

.tinypng-api-key-message span {
  position: absolute;
  top: 3px;
  left: 5px;
}

#tinypng_api_key_container input {
  margin-bottom: 10px;
}

#tinypng_api_key_container:before,
#tinypng_api_key_container:after {
  content: " ";
  display: table;
}

#tinypng_api_key_container:after {
  clear: both;
}

.tinypng_api_key_step1 {
  float: left;
  padding-right: 30px;
  border-right: solid #E5E5E5 1px;
}

#tinypng_api_key_name {
  display: block;
  min-width: 300px;
}

#tinypng_api_key_email {
  display: block;
  min-width: 300px;
}

.tinypng-create-api-key {
  width: 100%;
}

.tinypng_api_key_step2 {
  float: left;
  padding-left: 30px;
}

.form-table td .tinypng_api_key_step2 p {
  margin: 0;
  padding: 0;
}

#tinypng_api_key {
  min-width: 300px;
}

.dashicons-yes::before {
  font-size: 25px;
}

.tinypng_api_key_exists {
  display: inline-block;
  position: relative;
}

.tinypng_api_key_exists .dashicons-yes {
  position: absolute;
  display: block;
  top: 4px;
  left: 105px;
  color: #5CB85C;
}

.tinypng_api_key_exists #tinypng_api_key {
  margin: 0 10px 0 0;
}

.tinypng_api_key_exists p {
  color: #5CB85C;
}

.tinypng_api_key_exists a {
  display: inline-block;
  margin-top: 4px;
  font-size: 14px;
  text-decoration: none;
}

.tinypng_api_key_exists #tinypng_api_key {
  display: block;
  margin-bottom: 4px;
}

.tinypng-save-api-key {
  display: block !important;
  margin-bottom: 4px !important;
  width: 300px;
}

.key-error {
  display: none;
  font-size: 13px;
  color: red;
}

#TB_ajaxContent p {
   margin-top: 0px !important;
}
