#tinypng_api_key_container {
  display: inline-block;
  padding: 30px;
  border-left: solid #E1E1E1 1px;
  background-color: white;
}

#tinypng_api_key_container h4 {
  margin-top: 0;
}

#tinypng_api_key_container input {
  margin-bottom: 15px;
}

#tinypng_api_key_container:before,
#tinypng_api_key_container:after {
    content: " ";
    display: table;
}

#tinypng_api_key_container:after {
    clear: both;
}

.tinypng_api_key_step1 {
    float: left;
    padding-right: 30px;
    border-right: solid #E5E5E5 1px;
}

#tinypng_api_key_name {
  display: block;
  min-width: 240px;
}

#tinypng_api_key_mail {
  display: block;
  min-width: 240px;
}

.tinypng-create-api-key {
  width: 100%;
}

.tinypng_api_key_step2 {
    float: left;
    padding-left: 30px;
}

.form-table td .tinypng_api_key_step2 p {
  margin: 0;
  padding: 0;
}

#tinypng_api_key {
  min-width: 300px;
}

.tinypng_api_key_exists {
  display: inline-block;
  position: relative;
  padding: 30px;
  background-color: white;
  border: solid #E5E5E5 1px;
}
.dashicons-yes {
  position: absolute;
  display: block;
  top: 33px;
  right: 40px;
  color: #A5C690;
}

.dashicons-yes::before {
  font-size: 25px;
}

.tinypng_api_key_input {
  display: block;
}

.tinypng_api_key_exists .tinypng_api_key_input {
  color: #A5C690;
}

.tinypng_api_key_exists a {
  font-size: 14px;
  text-decoration: none;
}

.tinypng_api_key_exists #tinypng_api_key {
  display: block;
  margin-bottom: 4px;
}

.key-error {
  display: none;
  font-size: 13px;
  color: red;
}
